.item-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
    gap: 2rem;
    width: 100%;
    max-width: 1000px;
    padding: 1em 1.6em;
    margin: 1em 0;
    border-radius: 3em;
    box-shadow: 
            3px 3px 6px #3333,
            -2px -2px 4px #fff; 
 
    transition: all .2s ease;
}
.item-container:hover{
    background-color: var(--base);
    box-shadow: 
            6px 6px 12px #3333,
            -3px -3px 12px #fff,
    inset   1px 1px 2px var(--light),
    inset   -1px -1px 2px var(--dark); 

}

.checkbox-container {
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
}
.checkbox-container:disabled {
    cursor: not-allowed;
}
  
input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    width: 2em;
    height: 2em;
    border-radius: .6em;
    transform: translateY(-0.075em);
    display: grid;
    cursor: pointer;
    outline: unset;
    place-content: center;
    transition: all .2s ease;
    box-shadow: 
    inset   -2px -2px 4px #fff8,
    inset   2px 2px 4px #3333; 
}
  
input[type="checkbox"]::before {
    content: "";
    width: 1.6em;
    height: 1.6em;
    clip-path: polygon(10% 49%, 45% 89%, 94% 10%, 43% 67%);
    opacity: .6;
    background-color: var(--dark);
    transition: all .2s ease;
}

input[type="checkbox"]:checked::before {
    opacity: 1;
    background-color: var(--light);
}
input[type="checkbox"]:checked {
    background-color: var(--accent);
    box-shadow: 
        2px 2px 4px #3333,
        -2px -2px 4px #fff8,
    inset 2px 2px 8px #3333,
    inset -2px -2px 8px #fff6;
}
  
input[type="checkbox"]:focus {
    outline: 1px solid var(--accent);
}
  
input[type="checkbox"]:disabled {
    cursor: not-allowed;
}
.separator{
    height: 1.6em;
    border-right: 2px solid var(--dark);
}
.description{
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    line-height: 1em;
    color: var(--darkest)
}
.left, .right{
    display: flex;
    align-items: center;
    gap: 1.6em;
}
.sunken, .sunken:hover{
    box-shadow:
            -2px -2px 4px #fff8,
            2px 2px 4px #3333,
    inset   -2px -2px 4px #fff8,
    inset   2px 2px 4px #3333;

}
.actions-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: .5rem;
    max-width: 2em;
}
.actions-container app-trash,
.actions-container app-pencil{
    padding: 4px;
}