<div class="elevated-block" [class.sunken]="item.isDone">
    <div class="left">
        <label for="done" class="checkbox-container">
            <input type="checkbox"
            class="checkbox"
            name="done"
            id="done"
            (change)="updateCheckedStatus()"
            [checked]="item.isDone">
        </label>
        <hr class="vertical-separator">
        <p class="description">{{item.name}}</p>
    </div>

    <div class="right">
        <small class="date">{{ item.date | time }}</small>
        <hr  *ngIf="!item.isDone" class="vertical-separator">
        <div *ngIf="!item.isDone" class="actions-container">
            <a role="button" (click)="deleteItem()" class="inline-button">
                <span class="material-symbols-outlined">delete</span>
            </a>
            <a role="button" (click)="updateItem()" class="inline-button">
                <span class="material-symbols-outlined">edit</span>
            </a>
        </div>
    </div>
</div>