.list {
    margin-top: 16px;
}


.title-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.right-wrapper {
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.right-wrapper h2 {
    display: flex;
    align-items: center;
    text-align: right;
    font-family: 'Quicksand', Verdana, Geneva, Tahoma, sans-serif;
    color: var(--darkest);
    font-weight: 200;
}


.right-wrapper span {
    color: var(--darkest);
    font-weight: 200;
    opacity: .6;
    margin-right: 4px
}

.right-wrapper input {
    padding: 8px;
    padding-left: 24px;
    border: unset;
    border-bottom: 1px solid var(--accent);
    background-color: unset;
}

.right-wrapper span.edit-icon {
    position: absolute;
    left: 4px;
    bottom: 10px;
    font-size: .9em;
    color: var(--accent)
}

.actions-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
