@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Quicksand:wght@300;400&display=swap');

:root{
    --light: #F7F8FA;
    --base: #E7E8ED;
    --dark: #DCDCE4;
    --darkest: #6B7187;
    --accent: #FCC22A;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

body{
    min-height: 100vh;
    background: linear-gradient(to top, #E7E8ED, #F7F8FA);
    background-size: 100% 100%;
}

section{
    max-width: 1000px;
    margin: auto;
    padding: 10vh 10vw;
}
h1{
    color: var(--accent);
    font-family: 'Quicksand', Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 200;
    font-size: 3em;
    margin-bottom: .5em;
    text-shadow: -2px -2px 6px #fff, 
                 2px 2px 6px #3333;
}
.empty-items-info-container{
    margin-top: 2em;
}
.empty-list-info{
    font-size: 2em;
    font-weight: 200;
    font-family: 'Quicksand', Verdana, Geneva, Tahoma, sans-serif;
    color: var(--dark);
}
.clear-button-container{
    margin-top: 1em;
    display: flex;
    justify-content: flex-end;   
}
.clear-button, .button {
    font-family: 'Quicksand', Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    color: var(--accent);
    border: unset;
    margin-top: 1em;
    padding: .6em 1.4em;
    border-radius: 2em;
    font-size: 1em;
    transition: all .2s ease;
    box-shadow: 
        3px 3px 6px #3333,
        -3px -3px 6px #fff8,
    inset 2px 2px 2px #fff8,
    inset -2px -2px 2px #3333;
}
.clear-button:hover{
    cursor: pointer;
    color: var(--accent);
    text-shadow: 0 0 16px var(--accent);
    box-shadow: 
        6px 6px 12px #3333,
        -6px -6px 12px #fff8;
}