@import '~@fortawesome/fontawesome-free/css/all.css';
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Quicksand:wght@300;400&display=swap');

:root{
    --light: #F7F8FA;
    --base: #E7E8ED;
    --dark: #DCDCE4;
    --darkest: #6B7187;
    --accent: #FCC22A;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top, #E7E8ED, #F7F8FA);
}